
<p class="lead">Dettaglio domanda</p>

<form >
  <input class="form-control" formControlName="descrizione"type="text" placeholder="Descrizione"aria-label="descrizione">

  <select class="form-select mt-2" formControlName="idImpresa" aria-label="Default select example">
    <option [value]="tipologiaImpresa.id" *ngFor="let tipologiaImpresa of tipologieImpresa ">{{tipologiaImpresa.descrizione}}</option>
  </select>

  <input class="form-control mt-2" formControlName="indirizzo"type="text" placeholder="indirizzo"aria-label="indirizzo">
</form>
<div class="d-flex align-items-center justify-content-center">
  <button type="button" (click)="onSubmit()" class="btn btn-success me-2">Invia</button>
  <button type="button" routerLink="home" class="btn btn-danger" >Annulla</button>
</div>

<div class="alert alert-success mt-4" *ngIf="msg">
  {{msg}}
</div>

